{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

</head>
<body id="bg" style="background: url('{{ STATIC_URL }}static/bg9.jpg') ;">
     
    <nav class="navbar navbar-expand-lg bg-body-tertiary"style="background: url('{{ STATIC_URL }}static/ok.webp') ; ">
        <div class="container-fluid" >
          <a class="navbar-brand" href="#">Calculator App</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#about" style="border: 10px;">About</a>
              </li>  
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#instruction">Instruction </a>
              </li>  
            </ul>
          </div>
        </div>
      </nav>

      <div class="container-fluid">
       <div class="row">
        <div class="col-md-6" style="margin: 2rem auto 0 auto;">
            {% if error %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Error</strong>  
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% else %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{q}}={{ans}}</strong>  
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endif %}
        </div>
       </div>
        <div class="row">
            <div class="col-md-6" style="margin: 2rem auto 0 auto;">
                <img class="img-fluid" src="{% static 'image.png' %}" style="margin-left: 240px; margin-bottom: 20px;">
                <div class="card">
                    <div class="card-body" style="background-color:rgb(29, 126, 210);">
                        <form method="GET" action="{% url 'submitquery' %}">
                            <div class="form-group">
                                <input type="search" class="form-control" name="query" id="query">
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-6">
                                    <input type="submit" class="btn btn-success" style="display: block;margin: 0 auto;">

                                </div>
                                <div class="col-6">
                                    <input type="reset" class="btn btn-danger" style="display: block;margin: 0 auto;">

                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

        </div>
      </div>
      <div class="row">
        <div class="col-md-6" style="margin: 2rem auto 0 auto; color: aliceblue;">
        <h1 class="display-4" id="about" name="about" style="text-align: center; color: aliceblue;">About</h1>
        <p>
          Welcome to our online calculator tool! Our calculator is designed to help you perform basic arithmetic operations quickly and easily. Whether you need to add, subtract, multiply, or divide numbers, our calculator has got you covered.
        </p>
      </div>
      </div>
      <div class="row">
        <div class="col-md-6" style="margin: 2rem auto 0 auto;">
        <h1 class="display-4" id="instruction" name="Instruction" style="text-align: center; color: aliceblue;">Instruction</h1>
        <ul class="list-group">
            <li class="list-group-item">Addition (+):  Use the plus sign (+) to add two numbers together. For example, to calculate the sum of 5 and 7, enter "5 + 7" into the calculator.</li>
            <li class="list-group-item">Subtraction (-): Use the minus sign (-) to subtract one number from another. For example, to find the difference between 15 and 8, enter "15 - 8" into the calculator.</li>
            <li class="list-group-item">Multiplication (*): Use the asterisk (*) symbol to multiply two numbers together. For example, to multiply 4 by 9, enter "4 * 9" into the calculator.</li>
            <li class="list-group-item">Division (/): Use the forward slash (/) to divide one number by another. For example, to divide 20 by 4, enter "20 / 4" into the calculator.</li>
            <li class="list-group-item">Modulus (%): The modulus operator (%) returns the remainder of a division operation. For example, the result of "10 % 3" is 1, as 10 divided by 3 leaves a remainder of 1.</li>
            <li class="list-group-item">Exponent (): The double asterisk () symbol represents exponentiation, raising a number to a power. For example, "2 ** 3" equals 8, as 2 raised to the power of 3 is 8.</li>
            <li class="list-group-item">Floor Division (//): The double forward slash (//) symbol performs floor division, returning the largest integer less than or equal to the quotient. For example, "10 // 3" equals 3, as 10 divided by 3 is 3.333..., and the largest integer less than or equal to 3.333... is 3.

            </li>
          
          
          </ul>
      </div>
      </div>
      <div class="container-fluid" style="margin-bottom: 20rem;">
        <div class="row">
            <footer class="fixed-bottom navbar-light" style="background-color: black;color: white;text-align: center;">
                <p>Thanks for using the Calculator app</p>
            </footer>
        </div>
      </div>
    
</body>
</html>